{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
  </p>
  <p class="toc">
    {% if post.body.toc %}
      <h4>Table Of Contents</h4>
    {% endif %}
    <ul class="toc">
      {% for item in post.body.toc recursive %}
        <li><a href="#{{ item.anchor }}">{{ item.title }}</a>{%
        if item.children %}<ul>{{ loop(item.children) }}</ul>{% endif %}</li>
      {% endfor %}
    </ul>
  </p>
  {{ post.body }}
  </div>
{% endmacro %}
