{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {% for post in this.pagination.items %}
  <div class="blog-snippet">
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
    {% if post.subtitle %}
      <h3>{{ post.subtitle }}</h3>
    {% endif %}
    {% if post.cover_image %}
      {% set image = post.attachments.get(post.cover_image) %}
      <div class="frame">
        <img src="{{ image.thumbnail(400, mode="fit")|url }}" "70%" alt="cover">
      </div>
    {% endif %}
    <p class="summary">
      {{ post.summary }}
      <a class="more" href="{{ post|url }}">Read more …</a>
    <p class="meta">
      by
      {% if post.twitter_handle %}
        <a href="https://twitter.com/{{ post.twitter_handle }}">{{
          post.author or post.twitter_handle }}</a>
      {% else %}
        {{ post.author }}
      {% endif %}
      on {{ post.pub_date|dateformat }}
    </p>
  </div>
  <hr width=”75%”>
  {% endfor %}

  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}
