<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<title>{% block title %}Welcome{% endblock %} — Dumbing Things Up</title>
<body>
  <header>
    <h1>Dumbing Things Up</h1>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
  <div class="license">{{ render_cc_license('by-sa') }}</div>
  {% if this.pub_date %}
    &copy; Copyright {{ this.pub_date.strftime('%Y') }} by Ben Widawsky.
  {% endif %}
  Built from <a href="https://gitlab.com/bwidawsk/dumbing-things-up/-/commit/{{get_git_description()}}">{{get_git_description()}}</a>
  </footer>
</body>
