* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 16px;
}

a { /* a is for links */
    color: #2a99b6;
}

a:hover,
a:focus {
    color: #33bbdf;
}

header, footer, div.page {
    width: 80%;
    margin: auto;
    background: #daeef3;
    padding: 20px 30px;
}


div.hll { /* Code blocks */
    width: 35%;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    font-family: 'Inconsolata', monospace;
}

header h1 {
    color: #169bbd;
    margin: 0;
    font-family: serif;
    font-weight: bold;
    font-size: 42px;
}

div.page {
    background: #f1fbfe;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
    background-color: white;
}

figcaption {
    background-color: white;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

table {
    margin: 25px 0;
    font-family: "Lucida Console", monospace;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse; 
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
}

var {
   font-family: "Courier New", monospace;
}
